/* Módulo CSS */
/*
Evita conflitos de nome pois gera uma classe
única usando hashing 
*/
.button{
  background-color: hsl(200, 100%, 50%);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}